# Following should be a user and password you create just for this app
# NOT your mlab username and password

export MONGODB_USER=testuser
export MONGODB_PASS=abcd1234
export MONGODB_NAME=cs56-m18-demo
export MONGODB_HOST=ds143932.mlab.com
export MONGODB_PORT=43932

