<head>
  <title>Sparkjava Mustache Template Example 02</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{> css-from-cdn }}
  {{> site-specific-css }}	

</head>
