<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
 {{> nav }}
 <h1>Blog Posts</h1>

 <!-- Some of the class values are taken from
      https://www.w3schools.com/bootstrap4/bootstrap_tables.asp -->
 
 <table class="posts-table table table-striped table-hover table-responsive table-condensed">
   <thead>
     <tr><th>id</th><th>title</th><th>categories</th></tr>
   </thead>
   <tbody class="post-table-body">
     <tr class="tr-3col-loading">
       <td class="loading" colspan="3">
	 <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
	 Loading...
       </td>
     </tr>
   </tbody>
 </table>

 
 
 
 {{> scripts-from-cdn }}
 {{> site-specific-javascript-home }}
</body>
</html>
