<!-- This sets HTML mode in emacs -*- mode: HTML;-*- -->
<!-- From: https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Brand -->
  <a class="navbar-brand" href="/">Blog RESTFul API Demo</a>

  <!-- navbar-toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- the part that can be collapsed -->
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

    <!-- left hand nav bar links -->
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
	<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li>
	<button class="btn navbar-btn refresh-button">Refresh</button>
      </li>
      
    </ul>
    

    <!-- right hand navbar -->
    
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
	<a class="nav-link" href="/api">API</a>
      </li>
    </ul>

  </div>
</nav>



