<!-- This sets CSS mode in emacs -*- mode: CSS;-*- -->
<style>

/* Put site specific css here */

td.loading { text-align: center; color: #666; }


td.delete-button i.fa-remove { font-size:24px;color:red
			     }

td.delete-button i.fa-remove:hover { font-size:24px;color:red;
				     background-color: yellow;							      
			    }

</style>
